#login-div{
    height: 100%;
    width: 100%;
    background-color: white;
    padding-left: 10%;
    padding-top: 20%;
}

input[type=text]:focus{
    outline-color: #21ce99;
    width: 300px;
     padding: 5px;
}

input[type=password]:focus{
    outline-color: #21ce99;
    width: 300px;
    padding: 5px;
}

#form-button{
    margin-top: 10px;
     background-color: #21ce99;
    border-radius: 3px;
    // font-weight: bolder; 
    border-width: 0;
    padding: 15px 40px;
    margin-left: 10px;
    text-decoration: none;
    padding-top: 9px;
    color: white;
}

#form-button:hover{
    background-color: #25a17b;
}

#form-button:focus{
    outline: none;
    
}
.login-input{
    margin: 8px 10px;
    padding: 0 10px;
    border-width: 0;
    height: 35px;

}
.login-input::placeholder{
    padding-left: 10px;
}
#login-main{
    display: flex;

}
.login-img{
   width: 100%;
  height: auto;
}

.login-header{
    font-weight: normal;
}

.login-label{
    font-size: 12px;
    padding-left: 14px;
}