// Place all the styles related to the Api::Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchbar-input{
   width: 200px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.searchresult-link{
  
   
   width: 172px;
   font-size: 13px;
   // padding: 0 5px 0px 15px;
   text-align: center;
   // margin: 0 auto;
   // margin-right: 15px;
   display: block;
   margin: 0 5px;
}

.search-ul{
   background-color: white;
   // width: 172px;
   z-index: 1;
   position: relative;
   bottom: 16px;
   
   border-radius: 3px;
   padding: 0px 1px 0 1px;

}
.linkedin-img{
    width: 18px;
    position: relative;
    top: 1.5px;
}
.linkedin-img:hover{
   cursor: pointer;
}
.github-img{
   width: 23px;
    position: relative;
    bottom: 1px;
    margin: 0 10px;
}
.github-img:hover{
   cursor: pointer;
}

a:hover{
   cursor: pointer;
}
.myaccount{
color: black;
}
.myaccount:hover{
color: black;
cursor: pointer;
}

.myaccount2 h5 span {
color: black;
text-decoration: none;
display:inline-block;
}

.myaccount2 span {
color: black;
text-decoration: none;
display:inline-block;
}

#logout {
   text-decoration: none;

}
.myaccount2{
   color: #25a17b;
   text-decoration: underline;
   text-decoration-color: #25a17b;
   margin-right: -78px;

}
.myaccountdropdown{
   padding: 10px;
   border-radius: 4px;
   box-shadow: 0 5px 4px 0 lightgrey;
   margin-right: 10px;
   background-color: white;
   position: relative;
   right: 65px;
   width: 150px;
}

.balance{
   font-size: smaller;
}
.balance1{
   font-size: smaller;
   font-weight: normal;
}