// Place all the styles related to the Api::Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchbar-input{
   width: 200px;
  
}
.searchresult-link{
  
   
   width: 172px;
   font-size: 13px;
   // padding: 0 5px 0px 15px;
   text-align: center;
   // margin: 0 auto;
   // margin-right: 15px;
   display: block;
   margin: 0 5px;
}

.search-ul{
   background-color: white;
   // width: 172px;
   z-index: 1;
   position: relative;
   bottom: 17px;
   
   border-radius: 3px;
   padding: 0px 1px 0 1px;

}