#signup-form{
    height: 100%;
    width: 100%;
    background-color: white;
    padding-left: 10%;
    margin-top: 50px;
}

 #signup-form h2{
     font-weight: normal;
 }

 #signup-form h4{
     font-weight: normal;
 }
.fine-print{
    width: 40%;
    font-size: 13px;
    color: lightgray;

}

.fine-print p {
    line-height: 180%;
}

.signup-side{   
    width: 280px;
    float: right;
    margin-right: 20%;
    
}


.linx {
    color: #21ce99;
}