// html{
//     // width: 100%;
// }

body{
 font-family: "DM Sans",sans-serif;
    // float: left;
//  width: 100%;']
display: block;


}

.splash-root{
    margin-left: -1%;
    margin-right: -5%;
    
   
}
#splash-main {
background-color: #c9fd42;
height: 550px;
font-family: "DM Sans",sans-serif;
width: 96.45%;
font-size: 30px;
padding-left: 3.5%;
padding-right: 5%;
 box-shadow: 2px 0 2px 0 darkgray;
 padding-top: 5%;
 border-bottom: 1px solid black;
//  overflow: hidden;
// float: left;
}

#splash-main-header{
    position: relative;
    left: 50px;
    // margin-left: 150px;
    // margin-top: 300px;
    // padding-top: 100px;
    // display: flex;
    padding-bottom: 23px;
    font-size: 50px;
    width: 40%;
    z-index: 1;
}

.splash-h3{
    font-size: 50px;
    width: 55%;
    font-weight: normal;
}

#splash-paragraph{
    font-size: 24px;
    margin: 10px 0;
    width: 60%;
    margin-bottom: 0px;
}

.demo-form{
    // width: 300px;
    position: relative;
    top: 50px;
    right: 5px;
}
#demo-login{
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 15px;
    // margin-left: 50px;
    font-size: 17px;
    border-width: 0;
    font-weight: bold;
}   
#demo-login:focus {
    outline: none;
    // background-color: gray;
}

button:hover{
    outline: none;
}
#demo-login:hover{
    background-color: #2a2a30;
}

#splashnav{
    display: flex;
    //  flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    // padding-left: 10px;
    // padding-bottom: 5px;
    // box-shadow: 2px 2px gray;
    // font-size: 30px;
    width: 100%;
    height: 45px;
    text-decoration: none;
    // position: fixed;
    // margin-bottom: 100px;
    margin-bottom: 10px;
    background-color: white;
    position: fixed;
    padding-top: 2px;
    top: 0;
    z-index: 2;
    padding-bottom: 7px;
    margin-left: -7px;
    margin-top: -1px;
    
}

.splash-with-search{
    display: flex;
}

.searchbar-container{
    margin-left: 40px;
    margin-top: 12px;
    
}

.searchbar-container >input{
    width: 275px;
    border: none;
     box-shadow: 0px 1px 3px  darkgray;
     padding: 8px 10px;
     border-radius: 4px;
     padding-left: 15px;
}

.searchbar-container input:hover{
    width: 275px;
    border: none;
    box-shadow: 0px 1px 3px 0 darkgray;
    padding: 8px 10px;
    padding-left: 15px;

}

.searchbar-container input:focus{
    width: 275px;
    border: none;
    background-color: lightgray;
    box-shadow: 0px 1px 3px  darkgray;
    padding: 8px 10px;
    padding-left: 15px;

}

.search-result{
    padding: 5px 5px 5px 15px;
    z-index: 1;

}
.search-result:hover{
    background-color: lightgray;    
}
.header-group{
    display: inline;
    justify-content: space-around;
    margin-right: 20px;
    font-size: 18px;
    padding-top: 15px;
    font-weight: bold;
}

.header-button{
    background-color: #21ce99;
    border-radius: 30px;
    // font-weight: bolder; 
    border-width: 0;
    padding: 11px 33px;
    margin-left: 28px;
    text-decoration: none;
    // padding-top: 4px;
}
.header-button:hover{
    background-color: #25a17b;
}

#logo {
    margin-left: 10px;
    position: relative;
    font-size: 25px;
    left: 8px;
    top: 12px;
}


#logo h1{
    font-size: 30px;
    padding-left: 10px;
    // padding-bottom: 15px;
    // margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}
.splash-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.vid{
   position: relative;
   right: 180px;
   bottom: 15px;
   width: 600px;
    // width: 45%;
    // position: relative;
    // padding-left: 100px;
}