// Place all the styles related to the Api::Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stockshow-container {
     margin-top: 70px;
    // margin-left: 100px;
    // margin-left: 8%; 
     margin-left: 170px;
    // border: 1px solid darkgray;
    padding: 10px;
    display: block;
    width: 680px;
   
    // box-shadow: 0 5px 4px 0 lightgrey;
}

.linechart{
     border-bottom: 1px solid lightgray;
     padding-bottom: 10px;
}

.profile-outer-container{
    width: 700px;
    margin-bottom: 20px;
}
.profile-outer-container h5{
    font-weight: normal;
    width: 600px;
    padding-right: 50px;
}
.profile-list{
    font-size: 12px;
    width: 570px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
}

.profile-list-label{
    font-weight: bold;
    margin-top: 4px;
}

.stocknews-container{
    width: 670px;
    // font-size: smaller;
}

.stock-article-content{
    width: 450px;
    position: relative;
    right: 185px;
    top: 7px;
    padding-top: 10px;
}

.stock-img-div{
    height: 100px; 
    width: 100px; 
    // padding-left: 30px;
    position: relative;
    right: 180px;
    // overflow: hidden;
}

.order-container{
      margin-top: 0px;
    // margin-right: 10%;
    margin-left: 60px;
    // border: 1px solid darkgray;
    padding: 10px 20px 10px 20px;
    // display: block;
    width: 220px;
    box-shadow: 2px 5px 4px 2px lightgrey;
    position: fixed;
    top: 130px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.order-container label{
    font-size: 12px;
}

.order-container div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.order-container p{
    font-size: 12px;
}
.order-container input[type=number]{
    font-size: smaller;
    padding: 5px 0px 5px 10px;
     outline-color: #21ce99;
     width: 50px;
     margin-left: 10px;
     background-color: lightgray;
     border: none;
     border-radius: 5px;
}

.estimatedcost {
    border-bottom: 1px solid lightgray;
}

.order-button{
    
    margin-top: 10px;
     background-color: #21ce99;
    border-radius: 3px;
    // font-weight: bolder; 
    border-width: 0;
    padding: 15px 40px;
    margin-left: 10px;
    text-decoration: none;
    padding-top: 9px;
    color: white;
    width: 90%;
}

.order-button:hover{
    // background-color: #25a17b;
    filter: brightness(85%);
    cursor: pointer;
}

.order-button:focus{
    outline: none;
}

.watchlist-container{
    //  border-top: 1px solid gray;
}
.bold{
    font-weight: bold;
}

.selected {
    // color: #21ce99;
    border-bottom: 1px solid black;
}

.selected:hover {
    // color: #21ce99;
    cursor: pointer;
}

.non-selected:hover{
    cursor: pointer;
}

.show-top{
    display: flex;
    flex-direction: row;;
}

.bpow{
    text-align: center;
    margin: 0 auto;
    margin: 15px 0;
}

.port-list span{
    font-size: smaller;
    margin-bottom: 100px;
}

.span-header{
    font-size: smaller;
    margin-bottom: 100px;
}

.stocks-chart{
    position: relative;
    top: 19px;
    right: 5px;
}

.stocks-chart2{
    position: relative;
    top: 10px;
}
.chart-toggler{
    display: flex;
    // justify-content: space-around;

}

.chartOption{
    margin: 5px 10px;
}