// Place all the styles related to the Api::Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stockshow-container {
     margin-top: 70px;
    margin-left: 30px;
    // border: 1px solid darkgray;
    padding: 10px;
    display: block;
    width: 740;
   
    // box-shadow: 0 5px 4px 0 lightgrey;
}

.linechart{
     border-bottom: 1px solid lightgray;
     padding-bottom: 10px;
}

.profile-outer-container{
    width: 650px;
    margin-bottom: 20px;
}
.profile-outer-container h5{
    font-weight: normal;
    width: 600px;
    padding-right: 50px;
}
.profile-list{
    font-size: 12px;
    width: 570px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
}

.profile-list-label{
    font-weight: bold;
    margin-top: 4px;
}

.stocknews-container{
    width: 750px;
    font-size: smaller;
}