<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @user.first_name %>, your Deposit is successful!</h1>
    <p>
      Your deposit of $<%= @amount %>.00 is completed!
      <br>
    </p>
  </body>
</html>